@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    177.8deg,
    #aac4e3 0%,
    #dde5f2 14.08%,
    #dae2f1 27.91%,
    #c1cbe3 42.23%,
    #bdbbd8 59.62%,
    #b4aacd 76.96%,
    #f7cfd7 95.22%
  );
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
